
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.primary-color{
    color:#4E47FF ;
}

.btn-primary{
     background-color: #4E47FF;
     font-weight: bold;
     color:#FFFFFF ;
     font-size: 16px;
     border-radius: 10px;
     border: none;
     padding: 12px 36px;

}
.btn-primary:hover {
  background-color: skyblue; 
  box-shadow: 0 4px 12px rgba(78, 71, 255, 0.4);
}

/* nav styles */
header{
    max-width: 100%;
    background-image: url(../Assets/Hero-bg.png);
}
nav{
    display: flex;
    align-items: center;
    margin: 0px 200px;
    justify-content: space-between;
}
.nav-title{
    font-size: 34px;
    font-weight:900;
}
/* banner style */
.banner{
    text-align: center;
    padding: 150px;
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}

/* main styles */
body{
 background-color: #f5f8ff;
}
main{
    width: 1140px;
    margin: 0 auto;  
}
/* action styles */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    gap: 100px;
}
.action-title{
    font-weight: bold;
    font-size: 40px;
    color: #252432;
}
.action-subtitle{
    font-size: 24px;
    color: #252432;
    margin-top: 20px;
}
.action-picture{
    width:400px ;
    border-radius: 48px;
}

/* our stats styles */
.stats{
    background-color:rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    margin-top: 50px;
    padding: 50px 140px;
    text-align: center;
}
.stats-title{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    margin-bottom: 2px;
}

.stats-items{
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}
.stats-data{
    font-weight: bold;
    font-size: 60px;
    margin-top: 2px;
    margin-bottom: 1px;
}
.stats-subtitle{
    font-size: 20px;
    color:rgba(0, 0, 0, 0.5) ;
    
}

/* contact styles */
.contact-section{
    display: flex;
    align-items: center;
    
}
.contact-title{
    font-weight: bold;
    font-size: 97px;
    color: #000000;
}
.contact-form{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 100px;
    gap: 50px;
    flex-wrap: wrap;
}
.contact-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}
.contact-form label {
    font-weight: 500;
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 5px;            
}
.contact-form input,
.contact-form textarea {
    padding: 12px 16px;
    font-size: 16px;
    border: 1px solid #D6DDED ;
    border-radius: 10px;
    margin-bottom: 19px;  
    
}

/* footer styles */
.footer{
    background-color:#FFFFFF;
    /* background-color: #000000; */
}
.footer-section{
    text-align: center;
    padding: 100px 450px;
}
.footer-title{
    font-weight: 900;
    font-size: 100px;
    margin-bottom: 8px;
}
.footer-description{
    color:#8987A1 ;
}
.footer-navbar ul a{
    text-decoration: none;
    color: #8987A1;
}
.footer-navbar ul li{
    list-style: none;
    
}
.footer-navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    /* margin-right: 48px; */
}

/* card and reviwer style */
.card-continer{
    margin-top: 130px;
    margin-bottom: 115px;
}
.card-header{
    font-weight: bold;
    font-size: 42px;
    color:#252432 ;
    text-align: center;
}
.card-section{
    display: flex;
    gap: 20px;
}
.card{
    width: 360px;
    border: 1px solid #F2EDED;
    border-radius: 14px;
    padding: 24px 24px;
    background-color: #FFFFFF;
}
.card-title{
    font-weight: bold;
    font-size: 24px;
}
.card-sub-titile{
    font-weight: 500;
    font-size: 18px;
}
.reviwer{
    display: flex;
    align-items: center;

}
.reviwer-img{
    width: 40px;
    height: 40px;
    border-radius: 9999px;
}
.reviwer-info{
    margin-right: 12px;
}
.reviwer-name{
    color: #757575;
}
.reviwer-date{
    color: #B3B3B3;
}