
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.primary-color{
    color:#4E47FF ;
}
.btn-primary{
     background-color: #4E47FF;
     font-weight: bold;
     color:#FFFFFF ;
     font-size: 16px;
     border-radius: 10px;
     border: none;
     padding: 12px 36px;

}

/* nav styles */
header{
    max-width: 100%;
    background-image: url(../Assets/Hero-bg.png);
}
nav{
    display: flex;
    align-items: center;
    margin: 0px 200px;
    justify-content: space-between;
}
.nav-title{
    font-size: 34px;
    font-weight:900;
}
/* banner style */
.banner{
    text-align: center;
    padding: 150px;
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* action styles */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding:80px 100px;
    gap: 100px;
}
.action-title{
    font-weight: bold;
    font-size: 40px;
    color: #252432;
}
.action-subtitle{
    font-size: 24px;
    color: #252432;
    margin-top: 20px;
}
.action-picture{
    width:400px ;
    border-radius: 48px;
}

/* our stats styles */
.stats{
    background-color:rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    margin-top: 50px;
    padding: 50px 140px;
    text-align: center;
}
.stats-title{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    margin-bottom: 2px;
}

.stats-items{
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}
.stats-data{
    font-weight: bold;
    font-size: 60px;
    margin-top: 2px;
    margin-bottom: 1px;
}
.stats-subtitle{
    font-size: 20px;
    color:rgba(0, 0, 0, 0.5) ;
    
}